.gallery__row {
  flex-direction: column;
  height: 100%;
}

.gallery__image {
  width: 100%;
}

.gallery__col--bilberries {
  display: flex;
}

.gallery__image--bilberries {
  align-self: flex-end;
}

.gallery__button {
  color: #fff;
  display: block;
  background: #5585a2;
  border: none;
  text-transform: uppercase;
  font-size: 0.9090909090909091rem;
  width: 9.090909090909092rem;
  height: 2.5rem;
  margin: 0 auto;
  margin-top: 1.5rem;
}
