.gallery__row {
  flex-direction: column;
  height: 100%;
}

.gallery__row--top {
  @include media-breakpoint-up(lg) {
    margin-bottom: 1.5rem;
  }
}

.gallery__image {
  margin-bottom: 1.5rem;
  width: 100%;
  box-shadow: 0px 0px 12px -3px #000000;

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}

.gallery__col--bilberries {
  display: flex;
}

.gallery__image--bilberries {
  align-self: flex-end;
}

.gallery__button {
  color: #fff;
  display: block;
  background: #5585a2;
  border: none;
  text-transform: uppercase;
  font-size: 0.9090909090909091rem;
  width: 9.090909090909092rem;
  height: 2.5rem;
  margin: 0 auto;
  margin-top: 1.5rem;
}
