.hero {
  padding: 2rem 0;
}

.hero__navbar {
  padding-top: 0;
}

.hero__toggler {
  transition: all 0.3s ease;
}

.hero__aria {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hero__bar {
  display: block;
  height: 3px;
  width: 35px;
  background: #000;
  margin: 7px auto;
  transition: all 0.3s ease;
}

button.collapsed {
  .hero__bar--top {
    transform: translateY(0) rotate(0);
  }

  .hero__bar--middle {
    opacity: 1;
  }

  .hero__bar--bottom {
    transform: translateY(0) rotate(0);
  }
}

.hero__bar--top {
  transform: rotate(45deg);
  transform-origin: 6% 10%;
}

.hero__bar--middle {
  opacity: 0;
}

.hero__bar--bottom {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.hero__navbar {
  font-weight: 700;
}

.hero__nav-item {
  position: relative;
  &::before {
    content: '';
    background: transparent;
    position: absolute;
    width: 85%;
    height: 3px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
}

.hero__nav-item:hover::before {
  @include media-breakpoint-up(lg) {
    background: #ff6033;
  }
}

.hero__nav-link {
  text-transform: uppercase;
  color: #000;
  &:hover {
    color: #000;
  }
}
