.container__navbar-toggler {
  border-color: #000;
}

.container__navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.container__navbar-nav {
  font-weight: 700;
}

.container__nav-item {
  position: relative;
  &::before {
    content: '';
    background: transparent;
    position: absolute;
    width: 85%;
    height: 3px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
}

.container__nav-item:hover::before {
  @include respond-to(large) {
    background: #ff6033;
  }
}

.container__nav-link {
  text-transform: uppercase;
  color: #000;
  &:hover {
    color: #000;
  }
}
