.container__navbar-nav {
  font-weight: 700;
}

.container__nav-link {
  text-transform: uppercase;
  color: #000;
  border-top: 3px solid transparent;
  &:hover {
    color: #000;
    border-top: 3px solid #ff6033;
    border-width: 50%;
  }
}
