.services {
  background: #70bfff;
  padding: 3rem 0;
}

.services__container {
  display: flex;
  justify-content: center;
}

.services__row {
  flex-direction: column-reverse;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    width: 100%;
}
}

.services__heading {
  font-size: 4.090909090909091rem;
  color: #ffffff;
  font-weight: 700;
  align-self: stretch;
  display: flex;
  align-items: center;
  @include media-breakpoint-up(lg) {
    background: url('../../dist/images/tomato.png') center/contain no-repeat;
}
}

.services__assets {
  display: flex;
  background: #ffffff;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  min-height: 4.545454545454546rem;
  padding-right: 0;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    background: #9d9d9d;
    width: 1.5px;
    height: 100%;
    right: 30%;
  }
}

.services__para {
  flex: 8;
  margin: 0;
  padding: 0;
}

.services__icon {
  flex: 2;
}

.services__image {
  display: block;
  margin: 0 auto;
}

.services__image--trolley {
  max-width: 47px;
  height: 100%;
}

.services__image--hand,
.services__image--carrot {
  max-width: 55px;
  height: 100%;
}

.services__image--globe {
  max-width: 54px;
  height: 100%;
}
